<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      แอพจองห้องเรียน ทค.2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/maxresdefault.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Techniccom RMUTL</ion-card-subtitle>
        <ion-card-title>ยินดีต้อนรับเข้าสู่แอพจองห้องเรียน ทค.2</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>จากการใช้งานห้องเรียนภายในอาคาร เกิดการใช้ห้องเรียนซ้ำกัน ซึ่งแต่เดิมไม่มีการจัดเก็บข้อมูลเพิ่มป้องการการจองซ้ำ จึงคิดจะพัฒนาแอพพลิเคชั่นเพื่อใช้จองห้องเรียนป้องการ การใช้ห้องเรียนซ้ำกัน</p>
      </ion-card-content>
    </ion-card>
</ion-content>
