<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      รายการใช้ห้องเรียน
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content > 
  <ion-row *ngFor="let item of tabletimes">
  <ion-card>
      <img src="{{ item.imges }}"/>
      <ion-card-content>
        <ion-card-title>
          {{ item.room }} <p> เวลาใช้ {{ item.start | date:'short' }} - {{ item.end | date:'short' }} </p>
        </ion-card-title>
        <p>
          วิชา : {{ item.subjuct }}
        </p>
        <p>
          อาจารย์ผู้สอน : {{ item.fname }} {{ item.lname }}
        </p>
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-content>
