<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      รายการใช้ห้องเรียน
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content > 
  <ion-list *ngFor="let item of tabletimes">
   <ion-item>
    <ion-card class="imgwidth">
      <ion-card-content>
        <ion-card-title>
          ทค.20{{ item.room }} <p> เวลาใช้ {{ (item.start * 1000 ) - 25200000 | date:'short' }} - {{ (item.end * 1000 ) - 25200000 | date:'short' }} </p>
        </ion-card-title>
        <p>
          วิชา : {{ item.subjuct }}
        </p>
        <p>
          อาจารย์ผู้สอน : {{ item.fname }} {{ item.lname }}
        </p>
      </ion-card-content>
    </ion-card>
   </ion-item>
  </ion-list>
</ion-content>
