<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Login 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div *ngIf="!(authService.user | async)">
        <ion-item>
            <ion-input type="text" [(ngModel)]="email" placeholder="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" [(ngModel)]="password" placeholder="password"></ion-input>
          </ion-item>
      
        <ion-button (click)="signup()" [disabled]="!email || !password">
          Signup
        </ion-button>
      
        <ion-button (click)="login()" [disabled]="!email || !password">
          Login
        </ion-button>
      </div>
      <div *ngIf="authService.user | async">
          <ion-item>
              <ion-label>
                การ Login สำเร็จเลือกห้องเพื่อทำการจอง
              </ion-label>
          </ion-item>
        <ion-button (click)="goToBookRoom()" >
          เข้าสู่หน้าจองห้องเรียน      </ion-button>
        <ion-button (click)="logout()" >
          Logout
        </ion-button>
      </div>
</ion-content>
