<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        เลิอกเวลาจอง
      </ion-title>
    </ion-toolbar>
  </ion-header>
  

<ion-content padding>
    <ion-list>

        <ion-item>
          <ion-label>คาบ 1</ion-label>
          <ion-checkbox [(ngModel)]="time1"></ion-checkbox>
        </ion-item>
      
        <ion-item>
          <ion-label>คาบ 2</ion-label>
          <ion-checkbox [(ngModel)]="time2"></ion-checkbox>
        </ion-item>
      
        <ion-item>
          <ion-label>คาบ 3</ion-label>
          <ion-checkbox [(ngModel)]="time3"></ion-checkbox>
        </ion-item>

        <ion-item>
          <ion-label>คาบ 4</ion-label>
          <ion-checkbox [(ngModel)]="time4"></ion-checkbox>
        </ion-item>

        <ion-item>
          <ion-label>คาบ 5</ion-label>
          <ion-checkbox [(ngModel)]="time5"></ion-checkbox>
        </ion-item>

        <ion-item>
            <ion-label>คาบ 6</ion-label>
            <ion-checkbox [(ngModel)]="time6"></ion-checkbox>
          </ion-item>
        
          <ion-item>
            <ion-label>คาบ 7</ion-label>
            <ion-checkbox [(ngModel)]="time7"></ion-checkbox>
          </ion-item>
        
          <ion-item>
            <ion-label>คาบ 8</ion-label>
            <ion-checkbox [(ngModel)]="time8"></ion-checkbox>
          </ion-item>
  
          <ion-item>
            <ion-label>คาบ 9</ion-label>
            <ion-checkbox [(ngModel)]="time9"></ion-checkbox>
          </ion-item>
  
          <ion-item>
            <ion-label>คาบ 10</ion-label>
            <ion-checkbox [(ngModel)]="time10"></ion-checkbox>
          </ion-item>

          <ion-item>
              <ion-label>คาบ 11</ion-label>
              <ion-checkbox [(ngModel)]="time11"></ion-checkbox>
            </ion-item>
          
            <ion-item>
              <ion-label>คาบ 12</ion-label>
              <ion-checkbox [(ngModel)]="time12"></ion-checkbox>
            </ion-item>
          
            <ion-item>
              <ion-label>คาบ 13</ion-label>
              <ion-checkbox [(ngModel)]="time13"></ion-checkbox>
            </ion-item>
    
            <ion-item>
              <ion-label>คาบ 14</ion-label>
              <ion-checkbox [(ngModel)]="time14"></ion-checkbox>
            </ion-item>
    
            <ion-item>
              <ion-label>คาบ 15</ion-label>
              <ion-checkbox [(ngModel)]="time15"></ion-checkbox>
            </ion-item>
    
            <ion-item>
                <ion-label>คาบ 16</ion-label>
                <ion-checkbox [(ngModel)]="time16"></ion-checkbox>
              </ion-item>
            
              <ion-item>
                <ion-label>คาบ 17</ion-label>
                <ion-checkbox [(ngModel)]="time17"></ion-checkbox>
              </ion-item>
            
              <ion-item>
                <ion-label>คาบ 18</ion-label>
                <ion-checkbox [(ngModel)]="time18"></ion-checkbox>
              </ion-item>
      
              <ion-item>
                <ion-label>คาบ 19</ion-label>
                <ion-checkbox [(ngModel)]="time19"></ion-checkbox>
              </ion-item>
      
              <ion-item>
                <ion-label>คาบ 20</ion-label>
                <ion-checkbox [(ngModel)]="time20"></ion-checkbox>
              </ion-item>
      
      </ion-list>
</ion-content>
